

.centro h1 {
    margin-top: 100px;
    text-align: center;
    font-size: 57px;
    font-weight: 800;
    line-height: 92px;
    color: #124265;
    font-family: "Poppins", sans-serif;
}

.centro h2 {
    text-align: center;
    color: #5e5e5e;
    margin: 10px 0 0 0;
    font-size: 22px;
}

.digitacao::after {
    content: '';
    position: relative;
    border-right: 4px solid #124265;
    animation: piscar 700ms linear infinite;
}

@keyframes piscar {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
